

@{
    ViewBag.Title = "ForgotPasswordConfirmation";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
           <p>Please check your email to reset your password.</p>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
